@font-face {
  font-family: 'RobotoRegular';
  src: url('./Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.hello {
  color: red;
  font-family: 'RobotoRegular';
}